<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="hyva-magento2-checkout-dotdigitalgroup-sms" xsi:type="array">
                    <item name="original_module" xsi:type="string">Dotdigitalgroup_Sms</item>
                    <item name="compat_module" xsi:type="string">Hyva_CheckoutDotdigitalgroupSms</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Hyva\Checkout\Model\Form\EntityForm\EavAttributeShippingAddressForm">
        <arguments>
            <!-- Inject default shipping address entity form modifiers -->
            <argument name="entityFormModifiers" xsi:type="array">
                <item name="with_telephone_validation" sortOrder="500" xsi:type="object">Hyva\CheckoutDotdigitalgroupSms\Model\Form\EntityFormModifier\WithTelephoneValidationDirective</item>
            </argument>
        </arguments>
    </type>

</config>
